.App {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}
header {
  text-align: center;
}

.navigation {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Note, adjust number of columns with media query */

ul {
  list-style-type: none;
}